@font-face {
    font-family: noplato;
    src: url(./Asserts/font/Noplato-Mono.woff2);
  }

  html {
    scroll-behavior: smooth;
    cursor: none;
    /* background-color: black; */
  }

*{
  font-family: noplato;
}  

.family-monda{
    font-family: monda;
}

.item-container::-webkit-scrollbar, .hero::-webkit-scrollbar, .oGameListContainer::-webkit-scrollbar{
  display: none;
}

.stroke{
  -webkit-text-stroke-width: 0.7px;
  color: transparent;
  -webkit-text-stroke-color: rgb(255, 255, 255);
}

.heavy-stroke{
  -webkit-text-stroke-width: 1px;
  color: transparent;
  -webkit-text-stroke-color: rgb(255, 255, 255);
}

.progress-bar-container{
  width: calc(100% - 9rem);
  /* width: 80%; */
}

.text-marquee{
  position: relative;
  animation-name: text-marquee-anime;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes text-marquee-anime {
  0%{
    transform: translateX(0);
  }
  100%{
    transform: translateX(-100%);
  }
}

.active {
  cursor: grabbing;
  cursor: -webkit-grabbing;
}

.cursor{
  pointer-events: none;
}

.purchase-heading{
  word-spacing: -10px;
}


.text-clip {
  background: url('./Asserts/call\ of\ duty\ cross\ gen.webp') no-repeat center center;
  background-size: 150%;
  -webkit-background-clip: text;
  background-clip: text;
  color: #ffffff;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-position-x: right;

}

.light::after{
  content: "";
  position: absolute;
  top: 0px;
  left: 0%;
  height: 100%;
  width: 100%;
}